<div class="date-field" [class.date-field--disabled]="isDisabled || readonly">
  @if (label) {
    <label class="date-field__label" [attr.for]="inputId">{{ label }}</label>
  }

  <p-datepicker
    [inputId]="inputId"
    [ngModel]="selectedDate"
    (ngModelChange)="onDateSelected($event)"
    [placeholder]="placeholder"
    [minDate]="parsedMinDate"
    [maxDate]="parsedMaxDate"
    [showIcon]="true"
    iconDisplay="input"
    [showButtonBar]="true"
    [readonlyInput]="true"
    [disabled]="isDisabled || readonly"
    dateFormat="dd/mm/yy"
    appendTo="body"
    inputStyleClass="date-field__input"
    panelStyleClass="date-field__panel"
    (onBlur)="onInputBlur()"
  />
</div>
