<div class="date-field" [class.date-field--disabled]="isDisabled || readonly">
  @if (label) {
    <label class="date-field__label" [attr.for]="inputId">{{ label }}</label>
  }

  <p-datepicker
    [inputId]="inputId"
    [ngModel]="selectedDate"
    (ngModelChange)="onDateSelected($event)"
    [placeholder]="placeholder"
    [minDate]="parsedMinDate"
    [maxDate]="parsedMaxDate"
    [showIcon]="true"
    iconDisplay="input"
    [showButtonBar]="true"
    [readonlyInput]="readonly"
    [disabled]="isDisabled || readonly"
    [showOnFocus]="openOnHover"
    [keepInvalid]="keepInvalid"
    [baseZIndex]="baseZIndex"
    dateFormat="dd/mm/yy"
    appendTo="body"
    [inputStyleClass]="inputStyleClass"
    [panelStyleClass]="panelStyleClass"
    (onBlur)="onInputBlur()"
    (mouseenter)="onMouseEnter()"
  />
</div>
