<div class="period" (click)="onClick($event)" (mouseenter)="cancelarCierre()" (mouseleave)="programarCierre()">
  <p-selectButton
    [options]="segments()"
    optionLabel="label"
    optionValue="value"
    [allowEmpty]="false"
    [disabled]="disabled()"
    [ngModel]="periodo()"
    [ngModelOptions]="{ standalone: true }"
    (onChange)="onSegmentChange($event.value)"
  />
</div>

<p-popover #dayPopover appendTo="body" styleClass="period-day-popover" (onShow)="centrarFlecha()">
  <div class="period__calendar" (mouseenter)="cancelarCierre()" (mouseleave)="programarCierre()">
    <p-datepicker
      [inline]="true"
      selectionMode="range"
      [maxDate]="maxDate()"
      [ngModel]="calendarModel()"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="onPickRange($event)"
    />
  </div>
</p-popover>
